<!-- Contact -->
<h1>Contact Us</h1>
<p>Fill up the form below to send us a message.</p>
<form action="https://api.web3forms.com/submit" method="POST" id="form">
  <input type="hidden" name="access_key" value="46707179-0744-46f9-a7f8-c66caa7924f4" />
  <input type="hidden" name="subject" value="New Website submision" />
  <input type="checkbox" name="botcheck" id="" style="display: none;" />

  <label for="name">Full Name</label>
  <input type="text" name="name" id="name" placeholder="John Doe" required />

  <label for="email">Email Address</label>
  <input type="email" name="email" id="email" placeholder="you@company.com" required />

  <label for="message">Your Message</label>
  <textarea rows="5" name="message" id="message" placeholder="Your Message" required></textarea>

  <button class="primary" type="submit">
    Send Message
  </button>
  <p id="result"></p>
</form>
