.jumbotron {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 30rem;
  text-align: center;
  background-size: cover;
  flex-flow: column;
  grid-column: full;
  margin-bottom: 2rem;
}

.jumbotron h1,
.jumbotron p {
  background-color: var(--primary);
  display: inline-block;
  padding: 0 1rem;
  text-transform: uppercase;
}

.jumbotron h1 {
  font-size: 5vw;
  line-height: 1;
}
