{{ define "main" }}

    {{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

    <section class="about">
        {{ partial "short-text" .Params.about}}
    </section>
    <section class="entries">
        <h2>Latest entries</h2>
        {{ range where site.RegularPages "Section" "post" | first 4 }}     
        <article class="blog-roll">
            <h3>{{ .Title }}</h3>
            <a class="stretched-link" href="{{ .RelPermalink }}">Read more →</a>
        </article>
        {{ end }}
        <a href="/archive/">View Archive</a>
    </section>
    <section class="contact">
        {{ .Content }}
        {{ partial "contact-form" . }}
    </section>
{{ end }}
